
<%layout("/layouts/dashboard")-%>
   <!-- Main Content -->
<div class="content content-box ">
  
    
        <div class="row">
        <h1 class="col-9">Feedbacks</h1>  
        </div>

     
    <div class="container student-box">
        <!-- Student info TABLE  -->
    <table>
        <thead>
            <tr >
                <th>Name</th>  
                <th>Message</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
                

     <% for (let Feedback of allFeedbacks ){%>
           <tr>
                <td><%=Feedback.user_name%></td>
                <td><%=Feedback.fe_msg%></td>
              
                <td>
                    <form method="POST" action="/admin/feedbacks/<%=Feedback._id%>?_method=DELETE">
                        <button class="btn p-0 border-0 bg-transparent"> <i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>

            </tr>
                
    <%}%>
           
        


            <!-- Add more rows as needed -->
        </tbody>
    </table>
            </div>
        </div>
