
    <!-- Vertical Navbar -->
    <div class="vertical-navbar">
        <a href="/admin/dashboard" class="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="/admin/students"><i class="fa-solid fa-user-pen"></i></i> Students</a>
        <a href="/admin/courses"><i class="fa-solid fa-chalkboard"></i> Courses</a>
        <a href="/admin/blogs"><i class="fa-solid fa-cube"></i>Blogs</a>
        <a href="/admin/enquiries"><i class="fa-regular fa-rectangle-list"></i> Enquiries</a>
        <a href="/admin/feedbacks"><i class="fa-regular fa-comments"></i> Feedback </a>
        <a href="/home"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>