<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.facebook.com/aayus.national.infotech.computer.academy.anturli?mibextid=ZbWKwL"><i class="fa-brands fa-square-facebook"></i>Facebook</a> <br>
           <a href="https://www.instagram.com/ani_computer_academy_anturli/profilecard/?igsh=MXFkcDE2Z3VnbWMweA=="><i class="fa-brands fa-square-instagram"></i>Instagram</a> <br>
           <a href="https://www.linkedin.com/in/ani-computer-academy-anturli-123808333?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i>Linkedin</a><br>
        </div>
        <div class="f-info-brand">
            <h6> &copy; AAYU'S NATIONAL INFOTECH COMPUTER ACADEMY</h6>                 
            <a href="gmail.com"><i class="fa-brands fa-square-instagram"></i>anicomputeracademy@gmail.com</a>

            <br>
            <a class="privacy-terms" href="/privacy"> Privacy </a> &MediumSpace;
            <a class="privacy-terms" href="/terms"> Terms </a>
        </div>
        <div class="f-info-links">
            <a href="https://www.instagram.com/ketan_m24"> Developed by - Ketan Mahajan </a> &MediumSpace;
        </div>
    </div>
</footer>

