<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.facebook.com/aayus.national.infotech.computer.academy.anturli?mibextid=ZbWKwL"><i class="fa-brands fa-square-facebook"></i>Facebook</a> <br>
           <a href="https://www.instagram.com/ani_computer_academy_anturli/profilecard/?igsh=MXFkcDE2Z3VnbWMweA=="><i class="fa-brands fa-square-instagram"></i>Instagram</a> <br>
           <a href="https://www.linkedin.com/in/ani-computer-academy-anturli-123808333?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i>Linkedin</a><br>
        </div>
        <div class="f-info-brand">
            <h6> &copy; AAYU'S NATIONAL INFOTECH COMPUTER ACADEMY</h6>                 
            <a href="gmail.com"> <i class="fa-solid fa-envelope">  </i>   anicomputeracademy@gmail.com</a>

            <br>
            <a class="privacy-terms" href="/privacy-policy"> Privacy Policy </a> &MediumSpace;
            <a class="privacy-terms" href="/Terms-of-Service"> Terms of Services </a>
        </div>
        <div class="f-info-links">
            <i class="fa-solid fa-layer-group"></i> Developed and Maintained by -
            <br>
             Ketan Mahajan <a style="padding-left: 10px;"  href="https://mail.google.com/mail/?view=cm&fs=1&to=ketanmahajan2003@gmail.com&su=Website%20Development%20Inquiry&body=Hello%20Ketan%2C%0A%0AI%20would%20like%20to%20inquire%20about%20your%20website%20development%20services.%20Please%20provide%20me%20with%20more%20details." 
             target="_blank"> <i class="fa-solid fa-envelope"></i></a>
             <a  style="padding-left: 10px;" href="https://www.instagram.com/ketan_m24/profilecard/?igsh=czdwcDBocTRoc3Zn"> <i class="fa-brands fa-square-instagram"></i> </a> 
             <a  style="padding-left: 10px;" href="https://www.linkedin.com/in/ketan-mahajan24/"> <i class="fa-brands fa-linkedin"></i> </a>
       
        </div>
    </div>
</footer>

