<footer>
    <div class="f-info">
        <div class="f-info-socials">
            Social Media Links :
           <a href="https://www.facebook.com/aayus.national.infotech.computer.academy.anturli?mibextid=ZbWKwL"><i style="color: #1877F2;" class="fa-brands fa-square-facebook"></i></a> 
           <a href="https://www.instagram.com/ani_computer_academy_anturli/profilecard/?igsh=MXFkcDE2Z3VnbWMweA==">
            <i style=" background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
            color: white;
            padding: 2px;
            display: inline-block;" class="fa-brands fa-instagram"></i></a> 
           <a href="https://www.linkedin.com/in/ani-computer-academy-anturli-123808333?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i style="color:#0A66C2;" class="fa-brands fa-linkedin"></i></a><br>
    
           <!-- <i class="fa-brands fa-instagram"></i> -->
        </div>
        <div class="f-info-brand">
            <h6>&copy; AAYU'S NATIONAL INFOTECH COMPUTER ACADEMY</h6>                  
            <a href="https://maps.app.goo.gl/EidKjAX8YJSnKWJMA"><i class="fa-solid fa-location-dot"></i>  IN FRONT OF HIGH SCHOOL, NEAR MOULI GIFT BOX ANTURLI ,<br>
                                 MUKTAINAGAR , Dist. JALGAON 425306 (M.H.)  </a> <br>
                                 <a href="gmail.com"><i class="fa-solid fa-envelope"></i> anicomputeracademy@gmail.com</a>
        <!-- </div>
        <div class="f-info-links"> -->

            <br>
            <a class="privacy-terms" href="/privacy"> Privacy </a> &MediumSpace;
            <a class="privacy-terms" href="/terms"> Terms </a>
        </div>
        <div class="f-info-links">
            <a href="/ketan"> Developed by - Ketan Mahajan </a> &MediumSpace;
        </div>
    </div>
</footer>