<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.facebook.com/aayus.national.infotech.computer.academy.anturli?mibextid=ZbWKwL"><i class="fa-brands fa-square-facebook"></i></a> 
           <a href="https://www.instagram.com/ani_computer_academy_anturli/profilecard/?igsh=MXFkcDE2Z3VnbWMweA=="><i class="fa-brands fa-square-instagram"></i></a> 
           <a href="#"><i class="fa-brands fa-linkedin"></i></a><br>
           

        </div>
        <div class="f-info-brand">
            <h6>&copy; AAYU'S NATIONAL INFOTECH COMPUTER ACADEMY</h6>                  
            <a href="#"><i class="fa-solid fa-location-dot"></i>  IN FRONT OF HIGH SCHOOL, NEAR MOULI GIFT BOX ANTURLI ,<br>
                                 MUKTAINAGAR , Dist. JALGAON 425306 (M.H.)  </a> <br>
                                 <a href="gmail.com"><i class="fa-solid fa-envelope"></i> anicomputeracademy@gmail.com</a>
        </div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy </a> &MediumSpace;
            <a href="/terms"> Terms </a>
        </div>
        <div class="f-info-links">
            <a href="/ketan"> Developed by - Ketan Mahajan </a> &MediumSpace;
        </div>
    </div>
</footer>