  <!-- navbar  started -->
  <nav class="color-navbar-1 navbar navbar-expand-lg navbar-expand-md bg-body-tertiary">
    <!-- <div class="container-fluid color-navbar-2"> -->
      <a class="navbar-brand" href="#">
        <div class="logo-box"></div>
        <span class="logo-name "><i>ANI COMPUTER ACADEMY</i></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link nav-btn" href="#">                 Home      <span></span></a>
          <a class="nav-link nav-btn" href="#">                 Courses   <span></span></a>
          <a class="nav-link nav-btn" href="#">                 Blogs     <span></span></a>
          <a class="nav-link nav-btn" href="#">                 About Us  <span></span></a>
          <a class="nav-link nav-btn" aria-disabled="true">     Contact   <span></span></a>
          
          <button  class="btn me-md-2 download-btn" type="button"> DOWNLOAD CERTIFICATE </button>         
        
                   
          <a href="tel:+919657650962 " class="btn me-md-2 download-btn" > <i class="fa-solid fa-phone"></i> +91 9657650962 </a>
        </div>
      </div>
    <!-- </div> -->
  </nav>
  <br>
  <!-- navbar  Ended -->
