  <!-- navbar  started -->
  <nav class="color-navbar-1 navbar navbar-expand-lg navbar-expand-md bg-body-tertiary">
    <div class="container-fluid color-navbar-2">
      <a class="navbar-brand" href="/home">
        <div class="logo-box"></div>
        <span class="logo-name "><i> ANI COMPUTER ACADEMY</i></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link nav-btn" href="/home">        Home      <span></span></a>
          <a class="nav-link nav-btn" href="/courses">     Courses   <span></span></a>
          <a class="nav-link nav-btn" href="/blogs">       Blogs     <span></span></a>
          <a class="nav-link nav-btn" href="/aboutUs">     About Us  <span></span></a>
          <a class="nav-link nav-btn" href="/contact">     Contact   <span></span></a>
          
                
          <a href="/student-login" class="btn me-md-2 download-btn" >DOWNLOAD CERTIFICATE</a>
          <a href="/contact" class="btn me-md-2 download-btn" > <i class="fa-solid fa-phone"></i> Enquire Now !</a>
        </div>
      </div>
</div>    
  </nav>
 
  <!-- navbar  Ended -->
