
<%layout("/layouts/dashboard")-%>
   <!-- Main Content -->
<div class="content content-box ">
  
     <form method="GET" action="/admin/students/new">
        <div class="row">
        <h1 class="col-9">Add new Student </h1>  
        <button class="col-2 btn btn-primary" style="margin: auto;"> <i class="fa-solid fa-chevron-left"></i>  Back </button>
        </div>
     </form>
    <div class="container student-box">


        <!--CONTACT INFO - FORMS   -->

            <h1>Student PRN Error</h1>
            <p><%= message %></p>
  
    </div>
  </div>



    </div>




