
<%layout("/layouts/boilerplate")-%>
<div class="about-page">
    <div class="row text-center my-5">
      <!-- Experience Section -->
      <div class="col-6 col-md-3">
        <div class="about-logo-container">
          <img src="/images/6year-logo.jpg" class="about-logo" alt="experience-logo">
          <h5 class="logo-head">6 Years Experience</h5>
        </div>
      </div>
  
      <!-- Students Section -->
      <div class="col-6 col-md-3">
        <div class="about-logo-container">
          <img src="/images/student-logo.jpg" class="about-logo" alt="students-logo">
          <h5 class="logo-head">100+ Students</h5>
        </div>
      </div>
  
      <!-- Best Coaching Section -->
      <div class="col-6 col-md-3">
        <div class="about-logo-container">
          <img src="/images/ani-main-logo.png" class="about-logo" alt="coaching-logo">
          <h5 class="logo-head">Best Coaching</h5>
        </div>
      </div>
  
      <!-- Quality Study Material Section -->
      <div class="col-6 col-md-3">
        <div class="about-logo-container">
          <img src="/images/study-contain.png" class="about-logo" alt="study-material-logo">
          <h5 class="logo-head">Quality Study Material</h5>
        </div>
      </div>
    </div>
  














    <!-- WHY CHOOSE US ? SECTION IMG -->
<div class="image-container">
  <div  class="image-zoom w-100"></div>
  <div class="text-overlay">
      <h1 class="centered-heading">Why Choose us ? </h1>
      <p class="centered-description">"At ANI Computer Academy, we are committed to providing a learning experience that empowers students with essential skills for today's digital world. Our expert instructors, practical courses, and personalized support ensure that every student gains confidence and proficiency in their computer skills. With certified courses, hands-on projects, and a supportive environment."</p>
  </div>
</div>

<!-- /* WHY CHOOSE US? SECTION  ENDED*/ -->

   <!-- /* WELCOME TO ANI */ -->
    <div class="container col-8 about-section offset-2">
     <h3 >Wellcome to ANI COMPUTER ACADEMY</h3>
     <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, libero? Illo doloribus a provident quos reiciendis! Ea dicta recusandae modi temporibus explicabo, sapiente magnam veniam aliquam, veritatis rerum, vitae quos?</P>
    </div>

   <!-- /* WELCOME TO ANI */ -->
    <div class="container col-8 about-section offset-2">
     <h3 >Our Vision & Mission </h3>
     <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, libero? Illo doloribus a provident quos reiciendis! Ea dicta recusandae modi temporibus explicabo, sapiente magnam veniam aliquam, veritatis rerum, vitae quos?</P>
    </div>
    
   <!-- /* WELCOME TO ANI */ -->
   <div class="container col-8 about-section offset-2">
    <h3 >Meet Our Team </h3>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, libero? Illo doloribus a provident quos reiciendis! Ea dicta recusandae modi temporibus explicabo, sapiente magnam veniam aliquam, veritatis rerum, vitae quos?</P>
   </div>
   
   <!-- /* WELCOME TO ANI */ -->
   <div class="container col-8 about-section offset-2">
    <h3 >Certifications & Affiliations</h3>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, libero? Illo doloribus a provident quos reiciendis! Ea dicta recusandae modi temporibus explicabo, sapiente magnam veniam aliquam, veritatis rerum, vitae quos?</P>
   </div>
   <!-- /* WELCOME TO ANI */ -->
   <div class="container col-8 about-section offset-2">
    <h3 >Core Values</h3>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, libero? Illo doloribus a provident quos reiciendis! Ea dicta recusandae modi temporibus explicabo, sapiente magnam veniam aliquam, veritatis rerum, vitae quos?</P>
   </div>
   
