
<% layout("/layouts/boilerplate") -%>

<body>

  <div class="blogs-page">

<div class="container" style="padding-top: 20px;background-color: #ffffff3d;">
    <div class="row">
      
        <div class="col-lg-6 col-md-6 mb-4">
            <div class="blog-card" style="height: 300px;">
                <img src="/images/img-16.jpg" alt="Blog Image">
                <span class="category-label">Activity</span>
                <div class="content-overlay">
                    <div class=" custom-scroll blog-title">Behind the Screens: Class Highlights and Events</div>
                    <div class="blog-info">by Akshay jiri &bull; Nov 1, 2024 </div>
                </div>
            </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="blog-card" style="height: 300px;">
                <img src="https://img.freepik.com/free-photo/futuristic-business-scene-with-ultra-modern-ambiance_23-2151003770.jpg?t=st=1730903487~exp=1730907087~hmac=0c0ca97dce01fe2b435831af46d8b52a6550166b8f7650aa13cb454d6a94aca8&w=740" alt="Blog Image">
                <span class="category-label" style="background-color: #ffcc00;">Motivation</span>
                <div class="content-overlay">
                    <div   class="custom-scroll blog-title ">Empowering Minds, Shaping Futures. <p> At our Computer Academy, we believe in unlocking the full potential of every student. Through expert guidance, hands-on training, and a focus on practical skills, we empower individuals to succeed in the ever-evolving tech world. Your journey to success starts here, where knowledge and dedication meet opportunity.</p></div>
                    <div class="blog-info">by Akshay jiri &bull; Oct 17, 2024 </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="blog-card" style="height: 300px;">
                <img src="https://img.freepik.com/premium-photo/skills-development-internet-technology-business_220873-3999.jpg?w=826" alt="Blog Image">
                <span class="category-label" style="background-color: #00ff00;">Skills</span>
                <div class="content-overlay">
                    <div class="custom-scroll blog-title"><b> The Importance of Computer Skills in Today's World</b>In today's technology-driven world, having strong computer skills is essential for success in both personal and professional life. Basic skills such as operating a computer, navigating the operating system, and using applications like word processors and web browsers form the foundation. Proficiency in internet use, email communication, and online safety is also crucial. Additionally, skills in word processing, spreadsheet management, and presentation software are highly valuable for creating professional documents, analyzing data, and delivering effective presentations. Social media literacy, file management, and basic cybersecurity knowledge are key to staying connected and safeguarding personal information. Furthermore, troubleshooting and problem-solving abilities help address common computer issues, ensuring smooth functionality. Mastering these computer skills not only boosts productivity but also enables you to adapt to the ever-evolving digital landscape, making you more competitive in today’s job market.</div>
                    <div class="blog-info">by Akshay jiri &bull; Nov 6, 2024 </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<hr>
<!-- blogs section  -->
<div class="container" style="background-color: #ffffff3d;">
  
<h1 style="text-align: center;padding: 20px; color: rgb(255, 153, 0);">Explore More</h1>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 corses-box">

  <!-- <div class="card-group" style="gap: 20px;"> -->
   
  <!-- BLOG CARDs TAKING VALUES DYNAMICLLY FROM SCHEMA-Blog   -->
     

    <% for (let Blog of allBlogs){%>
   
    <div class="card course-card">
      <img src="<%=Blog.B_image%>" class="card-img-top" style="height: 8rem;" alt="...">
      <div class="card-body card-body-blog">
        <h6 class="card-title " style="color: black;"><%=Blog.B_title%></h6>
        <p class="custom-scroll card-text"><%=Blog.B_description%>.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated: <b> <%=Blog.created_at.toLocaleDateString('en-CA')%></b></small></p>
      </div>
    </div>

  <%}%>
  </div>

</div>


</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
