<% layout("/layouts/boilerplate") -%>
<div class="contact-page">

    <!-- get in touch SECTION IMG -->

    <div class="image-container-2">
        <div  class="image-zoom-2 w-100"></div>
        <div class="text-overlay-2">
            <h1 class="centered-heading-2">Get in Touch with ANI Computer Academy</h1>
        </div>
      </div>
     <!-- get in touch SECTION IMG -->

    <div class="container container-inquery " style="width: 90%;"> 
        <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 contact-box">

    <!--CONTACT INFO - LINKS   -->
        <div class="contact-info" >

          <h1 >Contact us</h1>
          <hr>
          <h5>&bull; Call Us Directly</h5>
          <a href="tel:+919657650962"><i class="fa-solid fa-phone"></i>+91 9657650962</a>
          <hr>
          <h5>&bull; Send Us an Email</h5>
          <a class="email-tag" href="https://mail.google.com/mail/?view=cm&fs=1&to=anicomputeracademy@gmail.com&su=Coaching%20Inquiry%20About%20Courses&body=Hello%2C%20I%20would%20like%20to%20inquire%20about%20the%20courses%20offered.%20Please%20provide%20me%20with%20more%20details."
          target="_blank"> <i class="fa-solid fa-envelope"></i> anicomputeracademyanturli@gmail.com</a>
                   
          <hr>
          <h5>&bull; Chat With Us on WhatsApp</h5>
          <a href="https://wa.me/+919657650962?text=
          Hello! I’d like to know more about the courses at ANI Computer Academy. Please share details on fees and enrollment. Thanks!" target="_blank"><i class="fa-brands fa-whatsapp"></i> Send Msg on : <b>+919657650962</b> </a>
          <hr>
          <h5>&bull; Follow & Connect on Social Media </h5>
          <div class="social-media mt-3">
                <a href="https://www.instagram.com/ani_computer_academy_anturli/profilecard/?igsh=MXFkcDE2Z3VnbWMweA==" target="_blank" class="social-icon instagram" title="Follow us on Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/aayus.national.infotech.computer.academy.anturli?mibextid=ZbWKwL" target="_blank" class="social-icon facebook" title="Follow us on Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.linkedin.com/in/ani-computer-academy-anturli-123808333?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="social-icon linkedin" title="Connect with us on LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
          </div>          
      </div>




      
        <!--CONTACT INFO - FORMS   -->

        <div class="contact-info " style="background-color: rgb(16, 197, 0) ;">
            <% if (submitMessage) { %>
                <h1 style="color: rgb(0, 0, 0);"><%=submitMessage%></h1>
            <% } %>
            <hr>
            <form method="POST" action="/admin/enquiries"  class="row g-3 needs-validation">
                <div class="col-md-6">
                  <label for="validationCustom01" class="form-label">Enter Name</label>
                  <input name="visitor[E_name]" type="text" class="form-control" id="validationCustom01"  placeholder="Enter Name" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                
                <div class="col-md-6">
                    <label for="validationCustom05" class="form-label">Mobile </label>
                    <input name="visitor[E_mobile]" type="text" class="form-control" maxlength="10" oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10)"  id="validationCustom05" placeholder="Enter Your Mobile" required>
                    <div class="invalid-feedback">
                      Please provide a valid Mobile.
                    </div>
                  </div>
                  
                
                <div class="col-md-12">
                  <label for="validationCustom03" class="form-label">Message</label>
                  <textarea style="height: 100px;" name="visitor[E_msg]"  type="text" class="form-control" id="validationCustom03" placeholder="Type your enquiry here..." ></textarea>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                
                <div class="col-12" style="display: flex;">
                  <button class="btn w-30" style="margin: auto;color: azure; background-color: rgb(0, 0, 0);" type="submit">Submit Enquiry <i class="fa-solid fa-paper-plane"></i></button>

                </div>
              </form>
        </div>
    </div>
  </div>



    <!--FOUNDER CONTACT START-->
        <div class="container my-4 founder-contact-container">
            <div class="row">
                <!-- Image Column -->
                <div class="col-12 col-md-4 mb-3">
                    <img src="/images/Founder_img.jpg" class="img-fluid img-thumbnail" alt="Founder Image" style="width: 100%;  border-radius: 15px;">
                </div>
                
                <!-- Contact Details Column -->
                <div class="col-12 col-md-8 founder-contact">
                    <h1>MR. AKSHAY KADU JIRI</h1>
                    <h5>Founder and Director of  AAYU'S NATIONAL INFOTECH COMPUTER ACADEMY , Anturli</h5>
                    <h5>Founder of Mauli Gift Box , Anturli</h5>
                    <p> <a href="tel:+919657650962 "> <i class="fa-solid fa-phone"></i> +91 9657650962</a></p>
                    <p> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=akshaypunatkar@gmail.com&su=ANI%20Computer%20Academy%20Inquiry&body=Hello%20Mr.%20Akshay%2C%0A%0AI%20would%20like%20to%20inquire%20about%20ANI%20Computer%20Academy.%20Please%20provide%20me%20with%20more%20information." 
                      target="_blank"> <i class="fa-solid fa-envelope"></i> akshaypunatkar@gmail.com</a></p>
                    <!-- social media icons -->
                    <div class="social-media mt-3">
                      <h5>join me : </h5>
                      <a href="https://www.instagram.com/mr._computer_instructor/profilecard/?igsh=MXE5Mmxybm5meWZ0Nw==" target="_blank" class="social-icon instagram" title="Follow us on Instagram">
                          <i class="fab fa-instagram"></i>
                      </a>
                      <a href="https://www.facebook.com/akshay.jiri.3?mibextid=ZbWKwL" target="_blank" class="social-icon facebook" title="Follow us on Facebook">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="https://wa.me/+919657650962?text=
                      Hello! I’d like to know more about the courses at ANI Computer Academy. Please share details on fees and enrollment. Thanks!" target="_blank" class="social-icon wpp" title="Connect with us on WhatsApp">
                        <i class="fa-brands fa-whatsapp"></i>
                      </a>
                </div> 
                    <hr>
                    <!-- about founder -->
                    <p>I, Mr. Akshay Kadu Jiri, founded this academy with a vision to merge technology and communication. With a background in BCA and an MA in English Literature, my aim is to empower students with essential skills for success in today’s digital world.</p>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
    <!--FOUNDER CONTACT ENDED-->

    <!-- location section  -->
    <div class="container my-4" style="margin: 20px auto; padding: 20px; background-color: azure;">
      <div class="row ">
          <div class="col-12 col-md-7 location-container">
            <h1>Location</h1>
            <br><br>
            <h4>&copy; AAYU'S NATIONAL INFOTECH COMPUTER ACADEMY </h4>                  
            <br>
            <h5><a href="https://maps.app.goo.gl/EidKjAX8YJSnKWJMA"> <i class="fa-solid fa-location-dot"></i>  IN FRONT OF HIGH SCHOOL, NEAR MAULI GIFT BOX ANTURLI ,<br>
                                MUKTAINAGAR , Dist. JALGAON 425306 (M.H.)  </a>
            </h5>
          </div>
          <!-- map div -->
          <div class="col-12 col-md-4 mb-3 map-container" >
            <!-- Replace the src URL with the one you got from Google Maps -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.8818193602133!2d76.1373608!3d21.1968532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd9cb004d484f95%3A0xa258bd680c210b79!2sANI%20COMPUTER%20ACADEMY%2CANTURLI!5e0!3m2!1sen!2sin!4v1730442444955!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </iframe>
          </div>
      </div>
    </div>
        
    <!-- location section ENDED  -->







<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>



<script src="/js/script.js"></script>
</body>    
<script>
  window.onload = function() {
      const offset = 350; // Distance from the top in pixels

      // Scroll to 300px from the top
      window.scrollTo(0, offset);
  };
</script>
