<% layout("/layouts/boilerplate") -%>

<body>
    <!-- SLIDESHOW  -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://img.freepik.com/premium-photo/modern-office-desk-workspace-darkness-room-with-laptop-mockup-accessories_67155-24886.jpg?w=826" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/premium-photo/workspace-laptop-empty-screen-coffee-pencil-black-leather-table-loft-wall_35674-1179.jpg?w=826" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/premium-photo/female-freelancer-noting-her-ideas-her-tablet-while-relaxing-sits-park-cropped-image_67155-24457.jpg?w=826" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- SLIDESHOW -->


    <!-- Certificates START -->

    <div class="certificate-div">
      <div class="text-heading-2">
      Committed to Excellence with ISO 9001:2015 and MSME Certification
       <!-- Your Trusted Learning Partner. -->
      </div>
      <div class="certificate-img">
          <img src="images/ISO-batch.png" alt="ISO-BATCH" >
          <img src="images/MSME-batch.png" alt="MSME-BATCH">
          <img src="images/SETISFACTION-batch.jpg" alt="SETISFACTION-BATCH">
      </div>
   </div>
  <!-- Certificates END -->


    
    <!-- PAGE 2 STARTED-->

    <div class="gallery-page">
        <div class="text-heading">
            Explore Our Vibrant Campus Moments
        </div>
        <div class="gallery-box">

            
            <!-- cards -->
            <div class=" card card-gallery ">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/Founder_ani.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">Founder OF ANI </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/img-2.jpg" class="card-img-top" alt="Listing Image" >
                <div class="card-img-overlay">  </div>
            </div>

            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/img-3.jpg" class="card-img-top" alt="Listing Image" >
                <div class="card-img-overlay">  </div>
            </div>     
            
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/img-4.jpg" class="card-img-top" alt="Listing Image" >
                <div class="card-img-overlay">  </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/img-5.jpg" class="card-img-top" alt="Listing Image" >
                <div class="card-img-overlay">  </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/img-6.jpg" class="card-img-top" alt="Listing Image" >
                <div class="card-img-overlay">  </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/img-7.jpg" class="card-img-top" alt="Listing Image" >
                <div class="card-img-overlay">  </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/img-8.jpg" class="card-img-top" alt="Listing Image" >
                <div class="card-img-overlay">  </div>
            </div>
            <!-- cards -->
            <div class= "card card-gallery">
                <img src="images/img-9.jpg" class="card-img-top" alt="Listing Image" >
                <div class="card-img-overlay">  </div>
            </div>
            <!-- cards -->
            <div class="card card-gallery">
                <img src="images/img-10.jpg" class="card-img-top" alt="Listing Image">
                <div class="card-img-overlay">  </div>
            </div>
        </div>
       
<button type="button" id="seeMore" class="gallery-view-btn btn btn-outline-info" > See More <i class="fa-solid fa-circle-chevron-down"></i></button>

<button type="button" id="seeLess" class="gallery-view-btn btn btn-outline-info" style="display: none;" > See Less <i class="fa-solid fa-circle-chevron-up"></i></button>
    </div>
    <!-- gallery end -->


           <!-- -----------PAGE 3 STARTED-----------*************************************************** -->

           <div class="box" id="box3">
            <div class="trainer-heading">
                  <h1> OUR COURSES </h1>
                  <div class="under-line">
                    <div class="under-box"></div>
                  </div>
           </div>
           
      
            <div class="trainer-container">
              <div class="trainer-boxes" id="trainer-1">
                <div class="trainer-info">
                    <div class="trainer-name">
                      <h5>BASIC COMPUTER </h5>
                      <h6> Unlock Your Potential—Enroll in Our Basic Computer Course Today!</h6>
                      <!-- <button class="book-btn" id="book-steve">Book Now > </button> -->
                      <a style="text-decoration: none;" href="https://www.google.com/search?sa=N&cs=1&hl=en&rlz=1C1CHBD_en-GBIN1073IN1073&sca_esv=fa4253f7b1e1cfcc&udm=2&sxsrf=ADLYWILaVGaU450T0AuVKb-vupow3Pkw7w:1729949573044&q=basic+computer+course+banner&stick=H4sIAAAAAAAAAFvEKpOUWJyZrJCcn1tQWpJaBGSUFhWnKiQl5uWlFgEANNeBnx8AAAA&source=univ&ved=2ahUKEwjKyZ6ulKyJAxWY2DgGHUzfCXU4ChCs3AJ6BAgQEAA&biw=1366&bih=633&dpr=1#imgrc=SpnFkP6x5JSULM&imgdii=NxyJcPryTfIIbM"><button class="book-btn" id="book-steve">Book Seat > </button></a>
                    </div>
                  </div>
              </div>
              <div class="trainer-boxes" id="trainer-2">
                <div class="trainer-info">
                 
                    <h5> MS OFFICE</h5>
                    <h6> Unlock productivity with ease—join our MS Office course today!</h6>
                    <a style="text-decoration: none;" href="www.google.com"><button class="book-btn" id="book-steve">Book Seat > </button></a>
                 
              </div>
              </div>
              <div class="trainer-boxes" id="trainer-3">
                <div class="trainer-info">
          
                    <h5>TALLY</h5>
                    <h6> Master finances with confidence—enroll in our Tally course today!</h6>
                    <a style="text-decoration: none;" href="www.google.com"><button class="book-btn" id="book-steve">Book Seat > </button></a>
      
                
                </div>  
              </div>
              <div class="trainer-boxes" id="trainer-4">
                <div class="trainer-info">
               
                    <h5>DATA ENTRY</h5>
                    <h6> Boost your career with precision—join our Data Entry course today!</h6>
                    <a style="text-decoration: none;" href="www.google.com"><button class="book-btn" id="book-steve">Book Seat > </button></a>
                  
               </div>
              </div>
              <a href="google.com" style="color: white; text-decoration: none;" ><i class="veiw-all-btn fa-solid fa-circle-chevron-right"></i><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View all </a>
            </div>
            <div class="trainer-quates">
              <h2 id="white">"Level up your skills - learn today, lead tomorrow "</h2>
            </div>
      </div>
                 
                <!-------------PAGE 3 ENDED------------->
      




    
<!-------------- features PAGE STARTED------------->
<div class="feature-page">    
    <p class="container-title">Here are the features<br>we're proud of</p>
  
    <div class="features-card-container">
                   <!--card-1  -->
            <div class="feature-cards" id="card-1">
                <div class="inner-card">
                  <div class="card-icons" id="icon-1">
                    <div class="icon-inner">
                      <!-- <i class="fa-solid fa-dumbbell" id="icon-img-1"></i> -->
                      <i class="fa-solid fa-desktop"  id="icon-img-1"></i>
                    </div>
                  </div>

                  <p class="card-title">Modern Computer Labs</p>
                  <p class="card-description">Fully equipped with high-speed internet and the latest software for practical, hands-on learning.</p>

                </div>
            </div>
  
                   <!--card-2  -->
             <div class="feature-cards" id="card-2">
              <div class="inner-card">
                <div class="card-icons" id="icon-2">
                  <div class="icon-inner"><i class="fa-solid fa-users " id="icon-img-2"></i>
                  </div>
                </div>
            
                <p class="card-title">Expert Instructors</p>
                <p class="card-description">Learn from certified professionals with real-world experience to guide you effectively.
                </p>
              </div>
            </div>
                   <!--card-3  -->
            <div class="feature-cards" id="card-3">
              <div class="inner-card">
                <div class="card-icons" id="icon-3">
                  <div class="icon-inner"><i class="fa-solid fa-chalkboard-user" id="icon-img-3"></i>
                  </div>
                </div>
            
                <p class="card-title">Individual Focus</p>
                <p class="card-description">Get one-on-one assistance and customized guidance to help you excel.</p>
              </div>
            </div>
                    <!--card-4  -->
            <div class="feature-cards" id="card-4">
              <div class="inner-card">
                <div class="card-icons" id="icon-4"> 
                   <div class="icon-inner"><i class="fa-solid fa-calendar-days"  id="icon-img-4"></i>
                   </div>
                  
                </div>
            
                <p class="card-title">Flexible Class Schedules</p>
                <p class="card-description"> Convenient timings to fit your schedule, making learning accessible for everyone.</p>
              </div>
            </div>
                   <!--card-5  -->
            <div class="feature-cards" id="card-5">
              <div class="inner-card">
                <div class="card-icons" id="icon-5">
                  <div class="icon-inner"><i class="fa-solid fa-hand-holding-dollar" id="icon-img-5"></i>
                  </div>
                </div>
            
                <p class="card-title">Affordable Tuition Fees</p>
                <p class="card-description">Quality education at competitive prices, with flexible payment options available !</p>
              </div>
            </div>
                  <!--card-6  -->
           <div class="feature-cards" id="card-6">
            <div class="inner-card">
              <div class="card-icons" id="icon-6">
                <div class="icon-inner"><i class="fa-solid fa-school-circle-check" id="icon-img-6"></i>
                </div>
              </div>
          
              <p class="card-title">Adaptive Environment</p>
              <p class="card-description">Centrally located, comfortable classrooms to ensure an easy and enjoyable learning experience..!</p>
            </div>
          </div>
    </div>
  </div>
    <!-- Feature page end -->
     <!--//////////// FOUNDER PAGE  ///////////////// -->
    <div class="intro-page"> 
    <div class="intro-container">
      <div class="founder-body">
        <img src="images/Founder_img.jpg" class="card-img-top" alt="FOUNDER-IMG">
      </div>    <p class=" founder-name">Mr.Akshay K. Jiri <br> ( Founder & Director of ANI Computer Academy )</p>
      
      <div class="institute-intro">
        <div class="intro-heading">
         <h1>Unlock Your Potential with <br> ANI Computer Academy</h1>
        </div>

        <div class="intro-details"> <p> "At AAYU'S NATIONAL INFOTECH COMPUTER ACADEMY, we believe that everyone has untapped potential waiting to be discovered. Our mission is to empower individuals with the essential skills and confidence they need to thrive in today's digital world. Whether you're just beginning your journey with basic computer courses or advancing your skills in specialized programs, we are here to support you every step of the way. We are committed to making quality education accessible, affordable, and tailored to real-world needs. Join us, and together, let's unlock a future filled with opportunity and growth. "</p> </div>
      </div>
    </div>
    </div>
    <!-- FEEDBACK -->
<!-------------REVIEW PAGE 6 STARTED------------->
<div class="review-page-box" >
  <div class="review-container">
    <div class="review-label">
      <h6>DONT' TAKE OUR WORDS</h6>
        <h1>Listen from our <br>Haapy Students</h1>
    </div>
    <div class="review-slider ">
      <div class="reviews">
      
 <!-- review page-1 -->
 <div class="review" id="review-page1">
  <div class="review-lines">
    <div>``</div>
    <p>
        Great coaching! Knowledgeable teachers, clear explanations, and excellent study materials. Highly recommend!
        Great coaching! Knowledgeable teachers, clear explanations, and excellent study materials. Highly recommend!
    </p>
  </div>
  <div class="review-info">
    <div class="review-name">
                  <h5  class="ketan"> ~ Ketan Mahajan</h5>
    </div>
  </div>
</div>
<!-- review page-1 -->
<div class="review" id="review-page1">
 <div class="review-lines">
   <div>``</div>
   <p>
       Great coaching! Knowledgeable teachers, clear explanations, and excellent study materials. Highly recommend!
       Great coaching! Knowledgeable teachers, clear explanations, and excellent study materials. Highly recommend!
   </p>
 </div>
 <div class="review-info">
   <div class="review-name">
                 <h5  class="ketan"> ~ Ketan Mahajan</h5>
   </div>
 </div>
</div>
<!-- review page-1 -->
<div class="review" id="review-page1">
 <div class="review-lines">
   <div>``</div>
   <p>
       Great coaching! Knowledgeable teachers, clear explanations, and excellent study materials. Highly recommend!
       
   </p>
 </div>
 <div class="review-info">
   <div class="review-name">
                 <h5  class="ketan"> ~ Ketan Mahajan</h5>
   </div>
 </div>
</div>
<!-- review page-1 -->
<div class="review" id="review-page1">
 <div class="review-lines">
   <div>``</div>
   <p>
       Great coaching! Knowledgeable teachers, clear explanations, and excellent study materials. Highly recommend!
    
   </p>
 </div>
 <div class="review-info">
   <div class="review-name">
                 <h5  class="ketan"> ~ Ketan Mahajan</h5>
   </div>
 </div>
</div>
<!-- review page-1 -->
<div class="review" id="review-page1">
 <div class="review-lines">
   <div>``</div>
   <p>
       Great coaching! Knowledgeable teachers, clear explanations, and excellent study materials. Highly recommend!
       
   </p>
 </div>
 <div class="review-info">
   <div class="review-name">
                 <h5  class="ketan"> ~ Ketan Mahajan</h5>
   </div>
 </div>
</div>

       <!-- review page-write -->
     <div class="review-boxB review" id="review-page6">
       <form action="/action">
           <!-- <div class="review-lines"> -->
               <textarea  cols="40" type="text" class="comment" placeholder="Write your review here..." ></textarea>
           <!-- </div> -->
           <div class="review-info">
             <div class="review-name">  
              <input type="text" placeholder="Enter your name..." class="review-username" name="name">
              <button id="review-submit" >Submit</button>
             </div>
           </div>
         </form>
     </div>
       
   </div>
  </div>
  
 <div class="review-buttons">
  
  <i class="fa-solid fa-circle-arrow-left reviewbtn " style="color: #f7d202;" id="prevBtn"></i>
  <i class="fa-solid fa-circle-arrow-right reviewbtn  " style="color: #f7d202;" id="nextBtn" ></i>
  <button type="button" id="writeReview" class="btn btn-warning">Share Feedback</button>

 </div>
 </div>
</div>
<!-- reveiw page ended -->





     <script src="/js/script.js"></script>
</body>