
<!-- <% layout("/layouts/boilerplate") -%> -->
<div class="review-page-box" >
        <!--STUDENT LOGIN- FORMS   -->
        <div class="contact-info " style="width: 60%; background-color: rgb(0, 89, 253); margin: auto;">
            <h1>Login as Admin !</h1>
            <hr>
            <form action="/admin/login" method="POST" class="row g-3 needs-validation">
                <div class="col-md-6">
                  <label for="validationCustom01" class="form-label">Admin ID </label>
                  <input name="username" type="text" class="form-control" id="username" maxlength="10" placeholder="Enter Your Admin ID" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                
                <div class="col-md-6">
                    <label for="validationCustom05" class="form-label"> Password </label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Enter Your Password"maxlength="12"  required>
                    <div class="invalid-feedback">
                      Please provide a valid Password.
                    </div>
                  </div>

                <div class="col-12" style="display: flex;">
                  <button class="btn w-30" style="margin: auto;color: rgb(255, 255, 255); background-color: rgb(0, 11, 43);" type="submit"> <b>Login</b>  </button>
                </div>
              </form>
        </div>

    </div>